/* You can add global styles to this file, and also import other style files */
body {
  background-color: #222831;
  margin: 0; /* Removes default browser margins */
  padding: 0;

  /* Optional: Set a default text color that looks good on dark backgrounds */
  color: #eeeeee;
}
